doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tugas Project
    link(rel='stylesheet', type='text/css', href='build/build.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(type="text/javascript" src='build/jquery.cycle.all.latest.js')
    script(src='build/color.js')
    script(type="text/javascript")
        $(document).ready(function(){$('#content-slider').cycle({fx:'zoom'});});
  body

    article(id="ppp" class="gradient")

      section(id="p01")
        <h1 id="hh"><marquee>Microsoft Hololens</marquee></h1>
        div(id="content-slider")
            <img src="https://winpoin.com/wp-content/uploads/2015/12/HoloLens.jpg" alt="Smiley face" style="float:center;width:300px;height:250px;"/>
            <img src="https://cdn.evbuc.com/eventlogos/158963085/8d104c85a5b64ada973291b25e644aad.jpg" alt="Smiley face" style="float:right;width:300px;height:250px;"/>
            <img src="https://upload.wikimedia.org/wikipedia/en/2/23/Microsoft_HoloLens_logo_2015.png" alt="Smiley face" style="float:right;width:300px;height:250px;"/>
            <img src="https://www.kreasitekno.com/wp-content/uploads/2016/09/26.jpg" alt="Smiley face" style="float:right;width:300px;height:250px;"/>
            <img src="https://c.slashgear.com/wp-content/uploads/2016/02/tone-800x420.jpg" alt="Smiley face" style="float:right;width:300px;height:250px;"/>
        h2(id="p02").bullet presented by
        ul
          li Indra Arif Rizky
          li Irlan Maranda
          li Muhammad Fathur
          
      section(id="p03")
        <h1 id="hh"><marquee>Apa itu Microsoft Hololens?</marquee></h1>
        p(id="p04") Microsoft HoloLens adalah sebuah teknologi komputasi visual yang memiliki fungsi mirip seperti kacamata pintar. Microsoft Hololens menggabungkan antara virtual reality dan augmented reality sehingga menciptakan mixed reality. Mixed reality memungkinkan membawa tampilan grafis dalam dunia virtual ke dalam dunia nyata. Pengguna bisa berinteraksi dengan benda virtual yang dihasilkan oleh microsoft hololens.Microsoft Hololens juga mampu mengenali tatapan dan suara. Microsoft Hololens dilengkapi dengan lensa high definition see through holographic yang memungkinkan pengguna dapat membuat dan membentuk hologram dengan gerakan, berkomunikasi dengan aplikasi menggunakan suara. Microsoft HoloLens dapat memberi info lebih detail tentang apa yang sedang dilihat pengguna atau memahami perintah pengguna, baik perintah dengan perkatakan, atau melalui gerakan tubuh.

      section
        h2 Spesifikasi Teknis
        li See-through holographic lenses (waveguides)
        li 2 HD 16:9 light engines
        li Automatic pupillary distance calibration
        li Holographic Resolution: 2.3M total light points
        li Holographic Density: >2.5k radiants (light points per radian)
        

      section
        h2 Sensors
        li 1 IMU
        li 4 environment understanding cameras
        li 1 depth camera
        li 1 2MP photo / HD video camera
        li Mixed reality capture
        li 4 microphones
        li 1 ambient light sensor

      section
         h2 Input/ Output/ Connectivity :
         li Built-in speakers
         li Audio 3.5mm jack 
         li Volume up/down
         li Brightness up/down
         li Tombol power
         li Battery status LEDs
         li Wi-Fi 802.11ac
         li Micro-USB 2.0
         li Kabel
         
      section
        h2 OS and Apps :
        li Windows 10
        li Windows Store

      section
        h2 Processors :
        li Intel 32 bit architecture
        li Microsoft Holographic Processing Unit (HPU 1.0)

      section
        h2 Memory :
        li 64GB Flash
        li 2GB RAM (2GB CPU and 1GB HPU)
        h3 Weight :
        li 579 g

      section
        h2 well aku cuma bisa sampe sini buat materinya, mohon bantuannya
        h2 dan karena baru belajar, cuma aku dah ngerti caranya, besok kubalap semua materinya.

    script(src='build/build.js')