doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tugas Project
    link(rel='stylesheet', type='text/css', href='build/build.css')
    script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(src='build/color2.js')
    script(type="text/javascript" src='build/jquery.cycle.all.latest.js')
    script(src='build/color.js')
    script(type="text/javascript")
        $(document).ready(function(){$('#content-slider').cycle({fx:'zoom'});});
    script        
        $(document).ready(function(){$(document).keyup(function(objEvent){(objEvent)?keycode=objEvent.keyCode:keycode=event.keyCode;console.log(keycode);});});
  body

    article(id="ppp" class="gradient")

      section(id="p01" class="gradient2")
        h1(id="hh")
            marquee Microsoft HoloLens
        div(id="content-slider")
            <img src="https://winpoin.com/wp-content/uploads/2015/12/HoloLens.jpg" alt="Smiley face" style="float:center;width:300px;height:250px;"/>
            <img src="https://cdn.evbuc.com/eventlogos/158963085/8d104c85a5b64ada973291b25e644aad.jpg" alt="Smiley face" style="float:right;width:300px;height:250px;"/>
            <img src="https://upload.wikimedia.org/wikipedia/en/2/23/Microsoft_HoloLens_logo_2015.png" alt="Smiley face" style="float:right;width:300px;height:250px;"/>
            <img src="https://www.kreasitekno.com/wp-content/uploads/2016/09/26.jpg" alt="Smiley face" style="float:right;width:300px;height:250px;"/>
            <img src="https://c.slashgear.com/wp-content/uploads/2016/02/tone-800x420.jpg" alt="Smiley face" style="float:right;width:300px;height:250px;"/>
        h2(id="p02").bullet Presented by
        ul
          li Indra Arif Rizky
          li Irlan Maranda
          li Muhammad Fathur
          
      section(id="p03" class="gradient2")
        h1(id="hh")
            marquee Apa itu Microsoft Hololens?
        p(id="p04") Microsoft HoloLens adalah sebuah teknologi komputasi visual yang memiliki fungsi mirip seperti kacamata pintar. Microsoft Hololens menggabungkan antara virtual reality dan augmented reality sehingga menciptakan mixed reality. Mixed reality memungkinkan membawa tampilan grafis dalam dunia virtual ke dalam dunia nyata. Pengguna bisa berinteraksi dengan benda virtual yang dihasilkan oleh microsoft hololens.Microsoft Hololens juga mampu mengenali tatapan dan suara. Microsoft Hololens dilengkapi dengan lensa high definition see through holographic yang memungkinkan pengguna dapat membuat dan membentuk hologram dengan gerakan, berkomunikasi dengan aplikasi menggunakan suara. Microsoft HoloLens dapat memberi info lebih detail tentang apa yang sedang dilihat pengguna atau memahami perintah pengguna, baik perintah dengan perkatakan, atau melalui gerakan tubuh.

      section(id="p06" class="gradient2")
        h1(id="hh") 
            marquee(style="width:620px;") Microsoft HoloLens, 3D Hologram in Real Life
        p(id="p05") Microsoft HoloLens meluncurkan prototipe pertamanya di Redmond, Washington baru-baru ini. Bentuk Microsoft HoloLens nampak seperti headset yang mencolok, ramping dengan lensa transparan. Anda masih dapat melihat dunia di sekitar Anda melalui alat tersebut, tapi tiba-tiba dunia yang berubah dengan objek 3D mengambang di udara, layar virtual pada dinding dan ruang tamu Anda tertutup karakter virtual memantul dari dinding. Microsoft HoloLens memiliki semua kerja komputer yang diintegrasikan langsung kedalam headset. Itu berarti tidak ada kabel atau bahkan smartphone diperlukan untuk mengoperasikannya. Teknologi di dalamnya membuat perangkat canggih ini mengenali gerakan, suara pengguna serta bisa memetakan keadaan sekitar.
        

      section(id="p08" class="gradient2")
        h1(id="hh")     
            marquee(style="width:620px;") Tapi bagaimana HoloLens bisa bekerja?
        p(id="q01") Ada banyak faktor yang dibutuhkan oleh perangkat ini. Salah satu yang paling penting adalah cara mereka menampilkan gambar tepat di depan mata si pengguna. Seperti perangkat elektronik pada umumnya, mereka menggunakan layar untuk melakukan pekerjaan ini. Namun layar yang digunakan bukanlah layar biasa. Layar yang digunakan disini adalah layar transparan yang berada di bagian dalam perangkat ini. Jadi, daripada menutupi lingkungan sekitar dengan layar, HoloLens menggunakan lingkungan sekitar tersebut dan menambah lapisan dimana gambar hologram tersebut berada. Layar transparan inilah yang membuat pengguna tetap bisa melihat apa yang ada dibaliknya.
        

      section(id="p07" class="gradient2")
        h1(id="hh") 
            marquee Layar dan Camera Hololens
        div(id="lom")<img src="http://tvoite.technology/wp-content/uploads/2016/11/holo-3.jpg" alt="Smiley face" style="float:right;width:250px;height:100px;"/>       
        p(id="q02") Tentu ada banyak lainnya selain layar transparan di HoloLens ini. Bagaimana cara mereka membuat objek yang ada bisa dilihat dari segala arah? Sensor yang terdapat di atas layar HoloLens adalah jawabannya. Perangkat ini memiliki beberapa sensor dan kamera di bagian depannya untuk memindai ruangan di sekitar anda dan mengumpulkan informasi yang ada sebanyak-banyaknya. Berdasarkan informasi dari sensor tersebut, HoloLens akan meletakkan objek dalam ruang 3D di dalamnya dan menampilkan gambar yang tepat berdasarkan posisi anda. Microsoft belum mengatakan secara detil apa sensor yang dipakai untuk memetakan ruangan sekitar, tapi kemungkinan besar sensor tersebut menggunakan kombinasi dari video dan infrared untuk memperkirakan jauh dekatnya tembok dan objek di sekitar pengguna. Sensor tersebut dapat melihat sebesar 120 derajat dan selain memindai ruangan di sekitar anda, sensor tersebut juga akan mendeteksi tangan anda untuk berinteraksi dengan apa yang ditampilkan oleh HoloLens.
         
      section(id="p10" class="gradient2")
        h1(id="hh") 
            marquee Accelerometer hololens
        div(id="lom")<img src="http://2.bp.blogspot.com/-Z-YdQbIyBsI/Vj1wZ09XMNI/AAAAAAAAAw8/8fXPGisd3P8/s1600/hololens%2Bcam.gif" alt="Smiley face" style="float:right;width:250px;height:100px;"/> 
        p(id="q03") Tentu saja, memindai ruangan dan gerak tangan tidaklah cukup. HoloLens juga harus mendeteksi gerak gerik kepala anda. Maka dari itu, HoloLens juga mempunyai accelerometer yang digunakan untuk mengetahui seberapa cepat kepala anda bergerak, gyroscope untuk mengetahui kemiringan dari kepala pengguna dan juga magnetometer untuk menjalankan kompas. Data-data tersebut kemudian dikombinasikan dan digunakan untuk mengetahui ruangan anda dan dimana kepala penggunan. Data-data yang diambil oleh HoloLens bisa dikatakan sangat banyak. Seseorang dari Microsoft mengatakan bahwa data yang diambil dari sensor-sensor tersebut bahkan mencapai skala terabyte. Angka tersebut jauh diatas angka maksimal dari ukuran yang bisa ditangani oleh perangkat mobile. Namun, hardware dari HoloLens ini tidak perlu untuk memproses data sebesar ini, karena adanya HPU, atau Holographic Processing Unit. Prosesor ini akan mengecilkan data-data dari sensor tadi menjadi potongan-potongan data yang jauh lebih kecil dan bisa ditangani oleh CPU dan GPU dari HoloLens. 

      section(id="p11" class="gradient2")
        h1(id="hh") 
            marquee 3D Enhancer Speaker
        div(id="lom")<img src="http://2.bp.blogspot.com/-YIgS76EkIcw/Vj1waN4YzMI/AAAAAAAAAxA/3Y_1OmCWI98/s1600/hololens%2Bmic.gif" alt="Smiley face" style="float:right;width:250px;height:100px;"/> 
        p(id="q04") Merasa ada yang kurang? Tepat sekali. Hal tersebut adalah suara. HoloLens mempunyai speaker di sebelah kanan dan kirinya. Speaker ini tidak akan menutup suara sekitar anda seperti earphone biasanya. Mereka menggunakan suara binaural, yang adalah teknologi suara 3D untuk membuat suara yang ada terletak seperti bersumber dari objek yang ada di HoloLens. Jadi katakanlah anda membuat tv di tembok anda, ketika berputar suara dari tv itu akan terasa seperti dibelakang anda. Dan hal luar biasa lainnya adalah perangkat ini tidak butuh untuk dikoneksikan ke komputer atau apapun. Mereka sepenuhnya wireless dan semua yang ditampilkan oleh HoloLens diproses langsung dari hardwarenya. Bayangkan jika Anda bisa menampilkan ramalan cuaca, atau update dari media sosial anda, bahkan membuat hewan peliharaan hologram di rumah anda. 

      section(id="p12" class="gradient2")
        h1(id="hh")
            marquee(style="width:600px;") Harga dan jadwal rilis microsoft hololens
        p(id="q05") Versi pra-produksi HoloLens, the Development Edition, dikirim pada tanggal 30 Maret 2016, dan ditargetkan untuk pengembang di Amerika Serikat dan Kanada dengan harga $ 3000. Samsung dan Asus telah memberikan penawaran kepada Microsoft untuk membantu menghasilkan produk campuran realitas mereka, bekerja sama dengan Microsoft, yang berbasis di seputar konsep dan perangkat keras di HoloLens. Pada tanggal 12 Oktober 2016, Microsoft mengumumkan perluasan HoloLens secara global dan mengumumkan bahwa HoloLens akan tersedia untuk preorder di Australia, Irlandia, Prancis, Jerman, Selandia Baru dan Inggris. Ada juga Commercial Suite (mirip dengan edisi pro Windows), dengan fitur enterprise, seperti keamanan bitlocker. Suite ini dijual seharga $ 5.000.

      section(id="p0001" class="gradient2")
           h1(id="hh")
            marquee Spesifikasi Optics
           ul
              li
              li 1. See-through holographic lenses (waveguides)
              li 2. 2 HD 16:9 light engines
              li 3. Automatic pupillary distance calibration
              li 4. Holographic Resolution: 2.3M total light points
              li 5. Holographic Density: >2.5k radiants (light points per radian)
        
        section(id="p0002" class="gradient2")
            h1(id="hh")
             marquee.bullets Spesifikasi Sensors
            ul
                li
                li 1. 1 IMU
                li 2. environment understanding cameras
                li 3. 1 depth camera
                li 4. 1 2MP photo / HD video camera
                li 5. Mixed reality capture
                li 6. 4 microphones
                li 7. 1 ambient light sensor
                
        section(id="p0003" class="gradient2")
            h1(id="hh")
             marquee(style="width:500px;") Spesifikasi Input/ Output/ Connectivity
            ul
                li
                li 1. Built-in speakers
                li 2. Audio 3.5mm jack 
                li 3. Volume up/down
                li 4. Brightness up/down
                li 5. Tombol power
                li 6. Battery status LEDs
                li 7. Wi-Fi 802.11ac
                li 8. Micro-USB 2.0
                li 9. Kabel
                
        section(id="p0004" class="gradient2")
            h1(id="hh")
             marquee(style="width:300px;") OS yang digunakan
            ul
                li 
                li 1. Windows Store
                li 2. Windows 10
        
        section(id="p0005" class="gradient2")
            h1(id="hh")
             marquee(style="width:200px;") Processor
            ul
                li 
                li 1. Intel 32 bit architecture
                li 2. Microsoft Holographic Processing Unit (HPU 1.0)
                
        section(id="p0006" class="gradient2")
            h1(id="hh")
             marquee(style="width:200px;") Memory
            ul
                li 
                li 1. 64GB Flash
                li 2. 2GB RAM (2GB CPU and 1GB HPU)
                
        section(id="p0007" class="gradient2")
            h1(id="hh")
             marquee Spesifikasi Teknis
            p(id="q12").bullets Weight :
            ul
                li 
                li * 579 g
            
        section(id="p0009" class="gradient2")
            h1(id="hh")
                marquee Bagaimana dengan Google Glass?
            p(id="q14") Sebenarnya Google Glass direncanakan layaknya AR, sayangnya meleset, gagal. Didesain minimalis, dengan berencana memberikan style futuristik yang keren, malah membuat Google Glass terpaksa memangkas fitur-fiturnya. Sehingga Google Glass hanya mampu menampilkan kemampuan multimedia yang terbatas, dan kebanyakan hanya menu-menu dua dimensi. Namun demikian perangkat ini malah dijual seharga $1500! Setengah harga dari HoloLens. Ironisnya, proyek Google Glass ini dihentikan di minggu yang sama ketika HoloLens didemonstrasikan
        
        section(id="p0010" class="gradient2")
            h1(id="hh")
                marquee Perbedaan Oculust Rift dengan Microsoft holoLens
            p(id="q15") Oculus Rift lebih tepat digunakan untuk tujuan bermain game jika pemainnya lebih suka untuk merasakan sensasi hadir ke dalam game. Oculus Rift juga dapat digunakan untuk pelatihan pembedahan secara murah, karena prosedur pembedahan telah diproyeksikan ke dalam dunia maya. Sedangkan Microsoft HoloLens lebih tepat digunakan untuk alat bantu terhadap suatu pekerjaan, contohnya untuk memproyeksikan hasil desain 3D kedalam dunia nyata untuk mempermudah para graphic designer. Walau demikian, bukan berarti Microsoft HoloLens tidak tepat untuk digunakan bermain game. Karena Microsoft HoloLens juga dapat menghadirkan pengalaman bermain game yang spektakuler.
            
        section(id="p0011" class="gradient2")
            h1(id="hh")
                marquee Ada 7 alat virtual saat ini
            p(id="q16").bullets Diantaranya :
            ul
                li 
                li 1. Oculus Rift
                li 2. Samsung Gear VR
                li 3. Google Cardboard
                li 4. Microsoft Hololens
                li 5. FOVE Eye Tracking VR
                li 6. Magic Leap
                li 7. Sony Project Morpheus
                
    script(src='build/build.js')