// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes
#hh{
    color : Black;
    font-family:consolas;
}
#p01{
    background-color:gainsboro;
}
#ppp{
    background-color:dimgrey;
}
#p02{
    color : Black;
    font-family:consolas;
}
#p022{
    color : Black;
    font-family:times new roman;
    font-size: 18px
}
#p03{
    background-color:green;
    color:black  
    background-color:gainsboro;
}
ul{
   color:black;
   position:relative; 
   bottom:20px;
   font-family:futura;
   list-style-type:none;
   margin-right:25px;
}
#content-slider {
   position: float;
   width: 300px;
   height: 400px;
   overflow: hidden;
}
#content-slider img {
   display: block;
   width: 500px;
   height: 400px;
}
#p04{
    margin-bottom:150px;
    margin-left:35px;
    margin-right:30px
    font-family:Calibri;
}